<strong>Ol치, {{ provider }}</strong>
<p>Houve um cancelamento na encomenda, confira os detalhes abaixo:</p>
<p>
  <strong>Destinat치rio: </strong> {{ recipient }} <br />
  <strong>Produto</strong> {{ product }} <br />
  <br />
  <small>
    O hor치rio est치 novamente disponivel para novos agendamentos.
  </small>
</p>
