<strong>Olá, {{ deliveryman }} </strong>

<p>Uma encomenda acaba de ser atribuida a você! Confira os detalhes:</p>

<strong>Destinatário: </strong>{{ recipient }} <br />
<strong>Produto: </strong>{{ product }} <br />
<br />
<p>Vá até o ponto de retirada para iniciar a entrega!</p>
